# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
__dummy.html
.dub
.tmp_versions/
*.a
*.cmd
*.dll
*.dylib
*.exe
*.lib
*.lst
*.mod*
*.o
*.obj
*.pdb
*.so
*.sqlite
dkms.conf
docs.json
docs/
libs/sqlite/
lited
Mkfile.old
Module.symvers
modules.order
*-test-library
*.log
